<a href="https://colab.research.google.com/github/Obreintelly/Autolib-EDA/blob/main/WEEK_4_HYPOTHESIS_TESTING_AUTOLIB_DATASET_27032021_CORE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **AUTOLIB ELECTRIC CAR SHARING DATA ANALYSIS**

# 1. Importing Libraries

In [13]:
#Importing Pandas
import pandas as pd

In [14]:
#Importing Numpy
import numpy as np

In [15]:
#Importing Matplotlib
import matplotlib.pyplot as plt

In [16]:
#Importing Seaborn
import seaborn as sns

# 2. Loading Our Dataset

In [12]:
#dataset = 'http://bit.ly/DSCoreAutolibDataset'

#df = pd.read_csv('/content/autolib_daily_events_postal_code.csv')

df= pd.read_csv('http://bit.ly/DSCoreAutolibDataset')

# 3. Previewing Our Dataset

In [17]:
#Displaying first 5 rows of our dataset
df.head()

   Postal code      date  ...  Slots_freed_sum  Slots_taken_sum
0        75001  1/1/2018  ...               22               20
1        75001  1/2/2018  ...               23               22
2        75001  1/3/2018  ...               27               27
3        75001  1/4/2018  ...               25               21
4        75001  1/5/2018  ...               18               20

[5 rows x 13 columns]

In [18]:
#Displaying last 5 rows
df.tail()

       Postal code       date  ...  Slots_freed_sum  Slots_taken_sum
16080        95880  6/15/2018  ...                0                0
16081        95880  6/16/2018  ...                0                0
16082        95880  6/17/2018  ...                0                0
16083        95880  6/18/2018  ...                0                0
16084        95880  6/19/2018  ...                0                0

[5 rows x 13 columns]

In [19]:
#Exploring our dataset
#We check our columns have the correct data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16085 entries, 0 to 16084
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Postal code             16085 non-null  int64
 1   date                    16085 non-null  object
 2   n_daily_data_points     16085 non-null  int64
 3   dayOfWeek               16085 non-null  int64
 4   day_type                16085 non-null  object
 5   BlueCars_taken_sum      16085 non-null  int64
 6   BlueCars_returned_sum   16085 non-null  int64
 7   Utilib_taken_sum        16085 non-null  int64
 8   Utilib_returned_sum     16085 non-null  int64
 9   Utilib_14_taken_sum     16085 non-null  int64
 10  Utilib_14_returned_sum  16085 non-null  int64
 11  Slots_freed_sum         16085 non-null  int64
 12  Slots_taken_sum         16085 non-null  int64
dtypes: int64(11), object(2)
memory usage: 1.6+ MB

In [20]:
#Checking our columns
df.columns

Index(['Postal code', 'date', 'n_daily_data_points', 'dayOfWeek', 'day_type',
       'BlueCars_taken_sum', 'BlueCars_returned_sum', 'Utilib_taken_sum',
       'Utilib_returned_sum', 'Utilib_14_taken_sum', 'Utilib_14_returned_sum',
       'Slots_freed_sum', 'Slots_taken_sum'],
      dtype='object')

In [21]:
#Checking our rows
df.index

RangeIndex(start=0, stop=16085, step=1)

# 4. Tidying Up Our Dataset

In [22]:
#Ensuring Consistency in our dataset
#We standardize our columns

df.columns = df.columns.str.strip().str.upper().str.replace(' ', '_').str.replace('(', '').str.replace(')', '').str.replace('.', '_')
df.columns

Index(['POSTAL_CODE', 'DATE', 'N_DAILY_DATA_POINTS', 'DAYOFWEEK', 'DAY_TYPE',
       'BLUECARS_TAKEN_SUM', 'BLUECARS_RETURNED_SUM', 'UTILIB_TAKEN_SUM',
       'UTILIB_RETURNED_SUM', 'UTILIB_14_TAKEN_SUM', 'UTILIB_14_RETURNED_SUM',
       'SLOTS_FREED_SUM', 'SLOTS_TAKEN_SUM'],
      dtype='object')

In [23]:
df.head(1)

   POSTAL_CODE      DATE  ...  SLOTS_FREED_SUM  SLOTS_TAKEN_SUM
0        75001  1/1/2018  ...               22               20

[1 rows x 13 columns]